html, body {
    font-family: "Segoe UI",Arial,sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
    margin:0;
}
#main {
    color:#fff;
    background-color:#7e3878;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 400;
}

p {
    padding: 0;
    margin: 0;
}

hr {
    width: 95%;
    align: center;
}

img {
    border:0px;
    vertical-align: top;
    text-align: right;
    display: inline-block;
    width: 48%;
    padding: 0 10px 0 10px;
}

.receipt {
    display: inline-block;
    width: 48%;
    padding: 0 10px 0 10px;
}

@media (max-width: 785px) {
    img {
        width:100%;
    }

    .receipt {
        width:100%;
    }
}
