<div class="container">
    <h2>NodeJS + Express Homework</h2>

    <div class="d-flex p-3 bg-light justify-content-around">
        <div class="p-2 card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">Please, login to get a full access to this awesome website features.</p>
                <a href="/users/login" class="btn btn-primary">Login</a>
            </div>
        </div>
        <div class="p-2 card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Create Account</h5>
                <p class="card-text">Please, create account to get a full access to this awesome website features.</p>
                <a href="/users/create" class="btn btn-primary">Create Account</a>
            </div>
        </div>
        <div class="p-2 card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Users List</h5>
                <p class="card-text">Show the list of the users of this incredible website.</p>
                <a href="/users" class="btn btn-primary">Show users</a>
            </div>
        </div>
    </div>
</div>
