<header class="text-center mb-3 py-3 bg-light">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link {{#if home_active}}active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if login_active}}active{{/if}}" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if create_active}}active{{/if}}" href="/users/create">Create Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if users_active}}active{{/if}}" href="/users">Users</a>
        </li>
    </ul>
</header>